// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Grand Hotel',sans-serif;} // font header
.fi {font-family: 'dd-icons',sans-serif;} // font icon

// body
@bb: #edf8ff; // body background

// colors
@red: #c70000;
@green: #81c700;
@orange: #ff9d00;
@blue: #00449e;
@lightblue: #0099ff;
@cp: #666; // color primary
@cl: @lightblue; // color link
.red {color:@red;}
.green {color:@green;}
.orange {color:@orange;}
.blue {color:@blue;}
.lightblue {color:@lightblue;}

// font sizes
@fsp: 16px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 20px;