body {
	//width: @content-width;
	background-image: -moz-linear-gradient(top,  #b3e0ff 0%, #edf8ff 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3e0ff), color-stop(100%,#edf8ff)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  #b3e0ff 0%,#edf8ff 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  #b3e0ff 0%,#edf8ff 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  #b3e0ff 0%,#edf8ff 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  #b3e0ff 0%,#edf8ff 100%); /* W3C */
	background-repeat: repeat-x;
	background-size: 100% 550px;
}
input[type="text"],input[type="password"],input[type="email"],input[type="date"],input[type="time"],select{
	.rin;
	.border-radius(6px);
	width: 100%;
	padding: 10px 12px;
	height: 40px;
	border: 1px solid @blue;
}
.mobile {
	display: none;
}
.col-left {
	float: left;
	width: 73.3%;
	padding: 0 80px 0 40px;
}
.col-right {
	float: right;
	width: 26.7%;
	padding: 10px 0 0 40px;
	background: url(../images/bg/02.png) no-repeat left;
	background-size: 24px 100%;
}
.navline {
	padding: 15px 0 0;
	margin: 0 0 40px;
	text-align: center;
	border-bottom: 1px dashed #c4c4c4;
	a {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 600;
		&:before{
			.fi;
			.border-radius(50%);
			position: absolute;
			bottom: -40px;
			left: 50%;
			width: 80px;
			height: 80px;
			padding: 32px 0 0;
			line-height: 1;
			margin-left: -40px;
			content: '\e808';
			font-size: 28px;
			background: #fff;
			border: 1px dashed #c4c4c4;
		}
		span {
			position: relative;
			display: inline-block;
			background: #fff;
			padding: 0 0 26px;
		}
	}
}
.boxtitle {
	span {
		display: inline-block;
		padding: 0 50px 12px 0;
		margin: 0 0 30px;
		text-transform: uppercase;
		font-size: 37px;
		line-height: 1.2;
		color: @blue;
		background: url(../images/bg/03.png) no-repeat bottom left;
		background-size: 100% 2px;
	}
}
.breadcrumbs {
	margin: 9px 0 38px;
	padding: 0 0 17px;
	border-bottom: 1px dashed #c4c4c4;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			padding: 0 0 0 25px;
			font-size: 14px;
			line-height: 1;
			white-space: nowrap;
			color: @orange;
			&:before{
				content: '\e80a';
				left: 8px;
				top: 3px;
				font-size: 11px;
				font-weight: normal;
				color: @lightblue;
			}
			a {
				color: @cp;
			}
			&.home {
				padding-left: 42px;
				&:before{
					.border-radius(50%);
					content: '\e813';
					font-size: 18px;
					left: 0;
					top: -8px;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					border: 1px solid @lightblue;
				}
			}
		}
	}
}
.next_page {
	text-align: center;
	margin: 25px 0 40px;
	.clearfix & {
		float: right;
	}
	a {
		.border-radius(50%);
		.transition(0.2s);
		display: inline-block;
		width: 155px;
		height: 155px;
		padding: 20px 40px 0;
		text-transform: uppercase;
		color: #fff;
		line-height: 1.1;
		text-decoration: none;
		background: @lightblue;
		&:hover{
			background: darken(@lightblue,10%);
		}
		&:before{
			.fi;
			display: block;
			margin: 0 0 14px;
			content: '\e81c';
			font-size: 60px;
			line-height: 1;
		}
	}
}
#page {
	min-width: @content-width;
	background: url(../images/bg/01.png) no-repeat top;
}
#wrapper {
	margin: 0 -20px;
	background: #fff url(../images/bg/01.png) no-repeat center -138px;
}
#container {
	padding: 56px 40px;
}
#col-bottom {
	padding: 60px 70px;
	margin: 0 -20px;
	border-bottom: 1px solid #96bbe2;
	background: #d7efff;
}
#page-header {
	.clearfix;
	height: 138px;
	margin: 0 -20px;
	.logo {
		float: left;
		width: 40%;
		padding: 25px 0 0 13px;
		a {
			.fh;
			display: block;
			padding: 20px 0 0 85px;
			font-size: 56px;
			min-height: 83px;
			line-height: 1;
			color: @blue;
			text-decoration: none;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
	.menu_header {
		.clearfix;
		float: right;
		width: 60%;
		ul {
			.rul;
			float: right;
			li {
				.rli;
				float: left;
				a {
					.transition(0.2s);
					.border-radius(0 0 6px 6px);
					display: block;
					text-decoration: none;
					color: #fff;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1;
					white-space: nowrap;
					padding: 15px 28px;
					background: @lightblue;
					margin: 0 0 21px 10px;
					&:hover{
						background: darken(@lightblue,5%);
					}
				}
			}
		}
	}
	.user {
		.clearfix;
		float: right;
		width: 60%;
		a {
			float: right;
			color: @blue;
			font-size: 14px;
			text-decoration: none;
			&:hover{
				color: @lightblue;
				text-decoration: underline;
			}
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e800';
				float: right;
				margin: -7px 0 0 15px;
				width: 34px;
				height: 34px;
				font-size: 18px;
				line-height: 32px;
				text-align: center;
				color: @lightblue;
				border: 1px solid @lightblue;
			}
		}
	}
}
.menu_main {
	position: relative;
	z-index: 999;
	margin: 0 40px 85px;
	&>ul {
		.rul;
		margin: 0 0 0 -56px;
		&>li {
			.rli;
			float: left;
			margin: 0 0 0 56px;
			&>a {
				display: inline-block;
				color: @blue;
				white-space: nowrap;
				font-size: 18px;
				font-weight: 600;
				padding: 0 0 16px;
				text-decoration: none;
				text-transform: uppercase;
				&:hover{
					text-decoration: underline;
				}
			}
			&.on {
				&>a {
					color: @orange;
					background: url(../images/bg/04.png) no-repeat left bottom;
					background-size: 100% 2px;
				}
			}
			ul {
				.rul;
				position: absolute;
				top: 100%;
				left: 0;
				width: 200px;
				background: #fff;
				li {
					.rli;
					.transition(0.2s);
					max-height: 0;
					overflow: hidden;
					a {
						.transition(0.2s);
						display: block;
						padding: 5px 0 7px 23px;
						color: @blue;
						font-size: 14px;
						text-decoration: none;
						background: url(../images/bg/04.png) no-repeat left bottom;
						background-size: 100% 2px;
						&:before{
							.fi;
							position: absolute;
							content: '\e80a';
							left: 7px;
							top: 9px;
							color: @lightblue;
							font-size: 10px;
							line-height: 1;
						}
						&:hover{
							color: @orange;
						}
					}
					&.on {
						a {
							color: @orange;
						}
					}
				}
			}
			&:hover{
				ul {
					li {
						max-height: 100px;
					}
				}
			}
		}
	}
}
.box_diary {
	.menu_icons {
		ul {
			.rul;
			.clearfix;
			margin: 0 -8px 15px;
			li {
				.rli;
				float: left;
				width: 33.3333%;
				padding: 0 8px;
				margin: 0 0 30px;
				text-align: center;
				a {
					.border-radius(50%);
					.transition(0.2s);
					display: inline-block;
					width: 84px;
					height: 84px;
					line-height: 82px;
					text-decoration: none;
					font-size: 42px;
					border: 1px solid ;
					&:hover{
						color: darken(@lightblue,10%);
						border-color: darken(@lightblue,10%);
					}
				}
			}
		}
	}
	.box-title {
		.boxtitle;
		span {
			font-size: 24px;
		}
	}
	.form-date {
		.clearfix;
		margin: 0 -20px 0 -10px;
		.col {
			.clearfix;
			float: left;
			width: 33.33333%;
			padding: 0 10px;
			margin: 0 0 20px;
			&:nth-child(1) {
				width: 36.8%;
			}
			&:nth-child(2) {
				width: 36.8%;
			}
			&:nth-child(3) {
				width: 26.4%;
			}
		}
		label {
			display: block;
			font-size: 18px;
			line-height: 1.2;
			margin: 0 0 7px;
		}
		input[type="date"],input[type="time"] {
			width: 70%;
			float: left;
			font-size: 12px;
			margin-right: 8px;
		}
		[class^="icon-"] {
			.border-radius(50%);
			display: inline-block;
			height: 42px;
			width: 42px;
			line-height: 38px;
			font-size: 24px;
			text-align: center;
			color: @lightblue;
			border: 1px solid @lightblue;
		}
	}
	.separator {
		position: relative;
		text-align: center;
		overflow: hidden;
		color: @green;
		font-size: 18px;
		margin: 45px 0 40px;
		span {
			position: relative;
			display: inline-block;
			padding: 0 20px;
			&:before,&:after {
				position: absolute;
				content: '';
				right: 100%;
				top: 50%;
				width: 999%;
				border-top: 1px solid #e8e8e8;
			}
			&:after {
				right: auto;
				left: 100%;
			}
		}
	}
	.add_item {
		text-align: center;
		margin: 0 0 40px;
		a {
			.border-radius(50%);
			.transition(0.2s);
			display: inline-block;
			width: 155px;
			height: 155px;
			padding: 20px 40px 0;
			text-transform: uppercase;
			color: #fff;
			line-height: 1.1;
			text-decoration: none;
			background: @lightblue;
			&:hover{
				background: darken(@lightblue,10%);
			}
			&:before{
				.fi;
				display: block;
				margin: 0 0 14px;
				content: '\e804';
				font-size: 60px;
				line-height: 1;
			}
		}
	}
	.table_items {
		width: 100%;
		margin: 0 0 40px;
		td,th {
			font-size: 26px;
			line-height: 1.2;
			color: @blue;
			padding: 12px 8px;
			vertical-align: middle;
			border-bottom: 1px solid #e8e8e8;
			background: #fff;
			&.icon {
				width: 19%;
				[class^="icon-"] {
					.border-radius(50%);
					display: inline-block;
					width: 42px;
					height: 42px;
					line-height: 42px;
					font-size: 20px;
					text-align: center;
					color: #fff;
					background: @lightblue;
					&.icon-pin {
						font-size: 24px;
					}
				}
			}
			&.date {
				width: 40%;
			}
			&.txt {
				font-size: 18px;
				line-height: 1.5;
				color: @green;
			}
			&.time {
				width: 20%;
				text-align: center;
			}
			&.num {
				.fh;
				padding-right: 15px;
				font-size: 46px;
				line-height: 1;
				text-align: right;
			}
		}
	}
	.nav {
		.navline;
	}
}
.box_read {
	margin: 0 0 40px;
	.title {
		.boxtitle;
		span {
			display: block;
			padding-right: 0;
			font-size: 24px;
			padding-bottom: 10px;
			margin: 0 10px 10px 0;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			font-size: 18px;
			line-height: 1.25;
			padding: 12px 0;
			text-transform: uppercase;
			border-top: 1px solid #e8e8e8;
			&:first-child {
				border-top: none;
			}
			a {
				display: block;
				padding: 10px 0;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.box_news,.box_news_more,.box_video {
	padding: 28px 30px;
	.box-title {
		.boxtitle;
		span {
			margin-bottom: 46px;
		}
	}
	.items {
		.clearfix;
		margin: 0 -15px 30px;
		.item {
			.clearfix;
			float: left;
			width: 35%;
			padding: 0 15px;
			margin: 0 0 10px;
			&.main {
				width: 65%;
				figure {
					width: 46%;
				}
				.content {
					width: 49%;
					h2 {
						font-size: 21px;
						line-height: 1.1;
						margin-bottom: 17px;
					}
				}
			}
			figure {
				float: left;
				width: 47%;
				padding: 4px 0;
				a {
					position: relative;
					display: block;
				}
				img {
					position: relative;
					display: block;
				}
			}
			.content {
				float: right;
				width: 48%;
				h2 {
					font-size: 16px;
					line-height: 1.4;
					text-transform: uppercase;
					a {
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.more {
					font-size: 14px;
					line-height: 1;
					text-transform: uppercase;
					a {
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.nav {
		.navline;
		margin-left: -30px;
		margin-right: -30px;
	}
}
.box_news_more {
	border-top: 1px dashed #c4c4c4;
	margin: 50px 0 0;
	padding-top: 70px;
	.items {
		.item {
			width: 50%;
			figure {
				width: 32%;
			}
			.content {
				width: 65%;
			}
		}
	}
}
.box_video {
	.items {
		.item {
			figure {
				a {
					&:before{
						.fi;
						.transition(0.2s);
						content: '\e80e';
						z-index: 1;
						position: absolute;
						left: 50%;
						top: 50%;
						width: 80px;
						height: 80px;
						line-height: 80px;
						margin: -40px 0 0 -40px;
						text-align: center;
						color: #fff;
						font-size: 46px;
						text-shadow: 1px 1px 0 fade(#000,50%);
						-webkit-opacity: 0.9;
						-moz-opacity: 0.9;
						opacity: 0.9;
						filter:alpha(opacity=90);
					}
					&:hover{
						&:before{
							-webkit-opacity: 0.5;
							-moz-opacity: 0.5;
							opacity: 0.5;
							filter:alpha(opacity=50);
						}
					}
				}
			}
			&.main {
				figure {
					a {
						&:before{
							font-size: 76px;
						}
					}
				}
			}
		}
	}
}
.box_advice {
	.clearfix;
	padding: 0 30px;
	.box-title {
		.boxtitle;
		span {
			margin-bottom: 47px;
		}
	}
	.q,.a {
		position: relative;
		width: 285px;
		margin: 0 42px 20px 0;
		float: left;
		min-height: 232px;
		border: 1px dashed #c4c4c4;
		&:before,&:after{
			.rotate(28deg);
			position: absolute;
			content: '';
			left: 100%;
			top: 47px;
			width: 40px;
			border-top: 1px dashed #c4c4c4;
		}
		&:after{
			.rotate(-28deg);
			top: 66px;
		}
		.inner {
			padding: 24px 26px 10px;
			&:before{
				position: absolute;
				content: '';
				top: 38px;
				right: -1px;
				width: 1px;
				height: 38px;
				background: #fff;
			}
		}
		.author {
			.clearfix;
			position: relative;
			padding: 0 0 0 55px;
			margin: 0 0 10px;
			min-height: 50px;
			line-height: 1.3;
			&:before{
				.fi;
				.border-radius(50%);
				position: absolute;
				content: '\e805';
				left: -6px;
				top: -4px;
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				font-size: 24px;
				color: #fff;
				background: @lightblue;
			}
			.date {
				font-size: 13px;
			}
			.name {
				color: @blue;
			}
		}
		h3 {
			font-size: 18px;
			line-height: 1.2;
			margin: 0 0 5px;
			color: @lightblue;
			font-weight: normal;
			text-transform: uppercase;
		}
		p {
			margin: 0 0 10px;
		}
		.full-a {
			text-transform: uppercase;
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.a {
		.author {
			&:before{
				font-size: 28px;
				content: '\e80c';
			}
		}
	}
	.more {
		float: left;
		a {
			.border-radius(50%);
			.transition(0.2s);
			position: relative;
			float: left;
			width: 200px;
			height: 200px;
			margin: 2px -20px 0 16px;
			padding: 118px 40px 0;
			text-align: center;
			color: #fff;
			font-size: 20px;
			line-height: 1.2;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600px;
			background: @lightblue;
			&:hover{
				background: darken(@lightblue,10%);
			}
			&:before,&:after{
				.fi;
				content: '\e805';
				position: absolute;
				left: 0;
				top: 20px;
				width: 100%;
				font-size: 84px;
				line-height: 1;
			}
			&:after{
				content: '\e80d';
				font-size: 46px;
				top: 40px;
				color: @lightblue;
			}
		}
	}
	.nav {
		.navline;
		clear: both;
		margin-left: -30px;
		margin-right: -30px;
	}
}
.box_share {
	margin: 0 0 20px;
	[class^=icon-] {
		&:before{
			padding: 0;
			margin: 0;
		}
	}
	a {
		.transition(0.2s);
		.border-radius(50%);
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 38px;
		font-size: 24px;
		margin: 0 6px 0 0;
		text-align: center;
		border: 1px solid @lightblue;
		color: @lightblue;
		text-decoration: none;
		&:hover{
			border-color: @lightblue;
			color: darken(@lightblue,10%);
		}
	}
}
.box_rate {
	.clearfix;
	position: relative;
	margin: 30px 0;
	padding: 28px 0 23px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	.clearfix & {
		float: left;
		width: 63%;
	}
	.title {
		position: relative;
		padding: 0 10px 0 60px;
		margin: 0 0 8px;
		font-size: 16px;
		line-height: 1.15;
		color: @lightblue;
		text-transform: uppercase;
		&:before{
			.fi;
			.border-radius(50%);
			position: absolute;
			content: '\e819';
			left: 0;
			top: -4px;
			width: 44px;
			height: 44px;
			line-height: 44px;
			text-align: center;
			font-size: 26px;
			background: @lightblue;
			color: #fff;
		}
		small {
			text-transform: none;
			font-size: 13px;
			color: @cp;
		}
	}
	.stars {
		padding: 0 0 0 60px;
		margin: 0 0 7px;
		white-space: nowrap;
		[class^=icon-] {
			margin: 0 -6px 0 0;
			&:before{
				margin: 0;
				padding: 0;
				color: #f9c700;
				font-size: 18px;
			}
		}
	}
	.count {
		font-size:  13px;
		padding: 0 0 0 60px;
		mark {
			font-weight: bold;
			color: @blue;
		}
	}
}
.menu_bottom {
	.menu {
		.rul;
		&>li {
			.rli;
			margin: 0 0 60px;
			&>a {
				.transition(0.2s);
				display: inline-block;
				color: @blue;
				font-weight: 600;
				padding: 0 0 5px;
				margin: 0 0 26px;
				text-decoration: none;
				text-transform: uppercase;
				background: url(../images/bg/03.png) no-repeat left bottom;
				background-size: 100% 2px;
				&:hover{
					color: @lightblue;
				}
			}
			ul {
				.rul;
				li {
					.rli;
					font-size: 14px;
					line-height: 1.2;
					margin: 0 0 10px;
					a {
						color: @blue;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.spec {
		.menu {
			&>li {
				&>a {
					display: block;
					margin-bottom: 34px;
				}
				ul {
					.rul;
					margin: 0 0 0 -47px;
					li {
						float: left;
						white-space: nowrap;
						margin: 0 0 0 47px;
						a {
							display: inline-block;
							padding: 0 0 0 23px;
							&:before{
								.fi;
								position: absolute;
								content: '\e810';
								left: 0;
								top: -2px;
								font-size: 18px;
								color: @lightblue;
							}
						}
					}
				}
			}
		}	
	}
}
#page-footer {
	.copy {
		font-size: 14px;
		padding: 32px 0;
		text-align: center;
		color: @blue;
		a {
			color: @blue;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @lightblue;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e811';
			font-size: 38px;
		}
		&:hover{
			background: darken(@lightblue,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}