@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {





	@content-width: 100%;
	.mobile {
		display: block;
	}
	.container {
		width: @content-width;
	}
	.mobile {
		display: block;
	}
	#page {
		background: none;
		min-width: @content-width;
	}
	#container {
		padding-bottom: 0;
	}
	.col-left {
		float: none;
		width: 100%;
		padding: 0;
	}
	.col-right {
		float: none;
		width: 100%;
		padding: 0;
	}
	.next_page {
		.clearfix & {
			float: none;
		}
	}
	.breadcrumbs {
		display: none;
	}
	#page-header {
		height: auto;
		padding-bottom: 32px;
		.logo {
			width: 60%;
			padding: 25px 0 0 34px;
		}
		.menu_header {
			width: 40%;
			padding-right: 30px;
		}
		.user {
			width: 40%;
			padding-right: 30px;
		}
	}
	.menu_main {
		display: none;
		margin: 0 -40px;
		padding: 34px 0;
		text-align: center;
		border-top: 1px dashed #c4c4c4;
		&.mobile {
			display: block;
		}
		&>ul {
			margin: 0;
			text-align: center;
			&>li {
				float: none;
				margin: 0 8px 10px;
				display: inline-block;
				&>a {
					font-size: 15px;
					padding-bottom: 6px;
				}
				ul {
					display: none;
				}
			}
		}
	}
	.box_diary {
		.add_item {
			display: none;
			&.mobile {
				display: block;
			}
		}



		.form-date {
			.col {
				float: none;
				width: 100%!important;
				padding-right: 60px;
			}
			input[type="date"],input[type="time"] {
				width: 100%;
			}
			[class^="icon-"] {
				float: right;
				margin: 0 -50px 0 0;
			}
		}



		.table_items {
			tr {
				.clearfix;
				margin: 0 0 30px;
				text-align: center;
			}
			tr,td,th,tbody,tfoot {
				width: 100%;
				display: block;
				padding-left: 0;
				padding-right: 0;
				&.icon {
					width: 100%;
					text-align: center;
					border-bottom: none;
				}
				&.date {
					width: auto;
					border-bottom: 0;
					display: inline;
				}
				&.txt {
					width: 100%;
				}
				&.time {
					width: auto;
					border-bottom: 0;
					display: inline;
					margin-left: 10px;
				}
				&.num {
					padding-right: 0;
					text-align: center;
				}
			}
		}




		.nav {
			display: none;
		}
	}
	.box_read {
		display: none;
	}
	.box_news,.box_video {
		display: none;
	}
	.box_news_more {
		padding-left: 0;
		padding-right: 0;
		padding-top: 35px;
		.box-title{
			span {
				margin-bottom: 32px;
			}
		}
		.items {
			margin-bottom: 0;
			.item {
				float: none;
				width: 100%;
				margin: 0;
				figure {
					display: none;
				}
				.content {
					float: none;
					width: 100%;
					h2 {
						font-size: 22px;
					}
					a {
						position: relative;
						display: block;
						padding: 10px 0 10px 25px;
						border-bottom: 1px solid #e8e8e8;
						&:before{
							.fi;
							position: absolute;
							left: 0;
							top: 0;
							font-size: 18px;
							content: '\e80a';
						}
					}
				}
			}
		}
		.nav {
			margin-top: 10px;
			margin-bottom: 75px;
		}
	}
	.box_advice {
		display: none;
	}
	#col-bottom {
		display: none;
	}
	.box_rate {
		display: none;
	}
}


@media (max-width: 560px) {
	#page-header {
		.logo {
			float: none;
			width: 100%;
			padding: 20px 0;
			text-align: center;
			a {
				display: inline-block;
			}
		}
		.menu_header {
			float: none;
			width: 100%;
			ul {
				float: none;
				text-align: center;
				li {
					float: none;
					display: inline-block;
					a {
						.border-radius(6px);
					}
				}
			}
		}
		.user {
			text-align: center;
			float: none;
			width: 100%;
			padding-right: 0;
			a {
				float: none;
				display: inline-block;
			}
		}
	}
}