@font-face {
  font-family: 'dd-icons';
  src: url('../font/dd-icons.eot?67134252');
  src: url('../font/dd-icons.eot?67134252#iefix') format('embedded-opentype'),
       url('../font/dd-icons.woff?67134252') format('woff'),
       url('../font/dd-icons.ttf?67134252') format('truetype'),
       url('../font/dd-icons.svg?67134252#dd-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dd-icons';
    src: url('../font/dd-icons.svg?67134252#dd-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dd-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-doc-text-inv:before { content: '\e801'; } /* '' */
.icon-signal:before { content: '\e802'; } /* '' */
.icon-ellipsis-vert:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-pin:before { content: '\e806'; } /* '' */
.icon-minus-circled:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-user-md:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-play-circled2:before { content: '\e80e'; } /* '' */
.icon-left-circled:before { content: '\e80f'; } /* '' */
.icon-right-circled:before { content: '\e810'; } /* '' */
.icon-up-circled:before { content: '\e811'; } /* '' */
.icon-down-circled:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-facebook:before { content: '\e814'; } /* '' */
.icon-gplus:before { content: '\e815'; } /* '' */
.icon-mail:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-star:before { content: '\e818'; } /* '' */
.icon-star-empty:before { content: '\e819'; } /* '' */
.icon-star-half-alt:before { content: '\e81a'; } /* '' */
.icon-angle-circled-left:before { content: '\e81b'; } /* '' */
.icon-angle-circled-right:before { content: '\e81c'; } /* '' */
.icon-angle-circled-down:before { content: '\e81d'; } /* '' */
.icon-angle-circled-up:before { content: '\e81e'; } /* '' */
.icon-calendar:before { content: '\e81f'; } /* '' */
.icon-clock:before { content: '\e820'; } /* '' */