
.icon-user:before { content: '\e800'; } /* '' */
.icon-doc-text-inv:before { content: '\e801'; } /* '' */
.icon-signal:before { content: '\e802'; } /* '' */
.icon-ellipsis-vert:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-pin:before { content: '\e806'; } /* '' */
.icon-minus-circled:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-user-md:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-play-circled2:before { content: '\e80e'; } /* '' */
.icon-left-circled:before { content: '\e80f'; } /* '' */
.icon-right-circled:before { content: '\e810'; } /* '' */
.icon-up-circled:before { content: '\e811'; } /* '' */
.icon-down-circled:before { content: '\e812'; } /* '' */
.icon-home:before { content: '\e813'; } /* '' */
.icon-facebook:before { content: '\e814'; } /* '' */
.icon-gplus:before { content: '\e815'; } /* '' */
.icon-mail:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-star:before { content: '\e818'; } /* '' */
.icon-star-empty:before { content: '\e819'; } /* '' */
.icon-star-half-alt:before { content: '\e81a'; } /* '' */
.icon-angle-circled-left:before { content: '\e81b'; } /* '' */
.icon-angle-circled-right:before { content: '\e81c'; } /* '' */
.icon-angle-circled-down:before { content: '\e81d'; } /* '' */
.icon-angle-circled-up:before { content: '\e81e'; } /* '' */
.icon-calendar:before { content: '\e81f'; } /* '' */
.icon-clock:before { content: '\e820'; } /* '' */